@model RiskSystem.Models.MainLevel

@{
    ViewBag.Title = "Додати рівень";
}

<h2>Додати рівень</h2>

@using (Html.BeginForm())
{
    <p>
        @Html.LabelFor(x => x.LevelName)
        @Html.TextBoxFor(x => x.LevelName,new { @class="form-control"})
    </p>
    
    <input type="submit" value="Додати"/>
}