@model RiskSystem.Damage

@{
    ViewBag.Title = "Додати пошкодження";
}

<h2>Додати пошкодження</h2>

@using (Html.BeginForm())
{
    <p>
        <b>Пошкодження</b>
        @Html.TextBoxFor(x => x.DamageName, new { @class = "form-control" })
    </p>

    <input type="submit" value="Додати" />
}