@model List<RiskSystem.Damage>

@{
    ViewBag.Title = "Пошкодження";
}

<h2>Пошкодження</h2>

@Html.ActionLink("Додати пошкодження", "AddNewDamage")

<table class="table table-hover table-striped table-bordered">
    <tr>
        <th>Id</th>
        <th>Назва пошкодження</th>
    </tr>
    @foreach (var damage in Model)
    {
        <tr>
            <td>@damage.DamageId</td>
            <td>@damage.DamageName</td>
        </tr>
    }
</table>